.mainpage {
    background-color: lightpink;
}

.header {
    font-size: 30px;
    text-align: center;
}

#tts, #stt{
    font-size: 30px;
    margin-top: 10px;
    margin-right: 5px;
    width: 300px;
    height: 50px;
    background-color: violet;
    border: none;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: lightskyblue;
}

.main {
    width: 700px;
    padding: 20px 30px;
    border-radius: 5px;
    color: black;
    font-size: 20px;
}

.row_voice {
    height: 50px;
}

#button {
    margin-top: 10px;
    margin-right: 5px;
    width: 100px;
    height: 50px;
    background-color: pink;
    border: none;
}

.button1 {
    margin-top: 10px;
    margin-right: 5px;
    width: 100px;
    height: 50px;
    background-color: pink;
    border: none;
}